@import "src/styles/mixins";
@import "src/styles/vars";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $orange;
  border-radius: rem(4);
  padding: 0;
  width: rem(24);
  height: rem(24);
  background-color: #242320;
  cursor: pointer;
}

.checked {
  background-color: $orange;
}

.icon {
  width: rem(12);
  height: rem(12);
  fill: #242320;
}