@import "src/styles/mixins";
@import "src/styles/vars";

@keyframes slide-fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.root {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.calendar {
  position: absolute;
  animation: slide-fade-down 250ms forwards;
  z-index: 9999;
  max-width: rem(250);
}