@import "./mixins";

// values

$content-width: #{rem(1110)};
$container-offset: #{rem(15)};
$section-offset: #{rem(65)};

// fonts

$font-family: "Ubuntu", sans-serif;

// colors

$black: #1b1a17;
$white: #fff;
$orange: #ff8303;
$gold: #a35709;
$light-beige: rgba(240 227 202 / 64%);
$beige: #f0e3ca;