@import "src/styles/mixins";
@import "src/styles/vars";

.root {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  border: 1px solid $orange;
  border-radius: rem(4);
  padding: 1rem;
  width: 100%;
}

.checkbox {
  margin-right: 1rem;
}

.title {
  font-weight: 500;
  font-size: rem(24);
  line-height: 120%;

  @include mobile {
    font-size: rem(16);
  }
}

.name-cross {
  text-decoration: line-through;
}

.button {
  margin-left: auto;
  max-width: rem(200);
}